@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  box-shadow: inset;
  
}
body{
  height: 100vh;
  background: #f4f4f4;
  display: flex;
  font-family: 'Roboto', sans-serif;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}
.screen{
  height: 5rem;
  margin-bottom:  5rem;
}
.Wrapper{
  background: #2e3336;
  width: 20rem;
  padding: 2rem;
  margin-top: 4rem;
  border-radius: 1rem;
  box-shadow: 29px -15px 4px -16px rgba(0,0,0,0.1);
}
.buttonBox{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: .6rem;
}
.button{
  background: #bedbee;
  height: 4rem;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #242424;
  border: none;
  font-size: 1.5rem; 
}
button:hover{
  border: 1px dotted #242424;
}
.equals{
  background: #4bd086;
  grid-column: 3/5;
}
.opt{
  background: #f79505;
}